---
import Background from "../components/Background.jsx";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/goldman";
import "@fontsource/tektur";
import WhatsAppButton from "../components/WhatsAppButton.astro";

interface Props {
  title: string;
}

const title = "DSTEV Sessions #2";
const description = "Inmersive Experience";
const imageUrl = "/DSTEVSessions1.webp";
const pageUrl = "arkhes.co";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={imageUrl} />
    <meta property="og:url" content={pageUrl} />

    <link rel="icon" type="image/svg+xml" href="/icons/MainIcon.png" />
    <title>{title}</title>
  </head>
  <body style="">
    <Background client:load />
    <Header />
    <slot />
    <WhatsAppButton
      phoneNumber="573187866592"
      message="Hola ! Quiero mi ticket para DSTEV Sessions #2"
    />
    <Footer />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Cygnito Mono";
    src: url("/fonts/cygnito-mono.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  html {
    font-family: "Tektur", "Goldman", "Cygnito Mono", system-ui;
    scroll-behavior: smooth;
  }
  body {
    margin: 0px;
    background: black;
  }
  .text-3d {
    text-shadow:
      1px 1px 0 #000,
      2px 2px 0 #000,
      3px 3px 0 #000,
      4px 4px 0 #000;
  }
</style>
